.titulo{
    padding: 1px;
    margin: 1px;
    font-size: 70px;
    color: white;
    text-align: center;
    border: 1px solid black;
    background-image: url('../img/comida2.jpg');
    font-family: "Times New Roman";
}
.menu{
    border: 1px solid black;
    background-image: url('../img/madera.jpg');
    display:flex;
    color: white;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-left: 10px;
    margin-right: 10px;
    background-image: url('../img/madera.jpg');
    padding: 1px;
    align-items: center;
    width: 100%;
    text-align: center;
    
}
.menuItem:hover {
    background-color: lightblue;
}
.contenido{
    display: flex;
}
.imagen{
    padding: 20px;
    margin: 20px;
    float: left;
}
.texto{
    
    margin: 20px;
    padding: 20px;
    display: none;
    font-weight: bold;
    font-size: 20px;
}
.boton{
    padding: 20px;
    margin: 20px;
    margin-top: 100px;
    float: right;
    
}
body{
    background-image: url('../img/madera4.jpg');
    height: 500px;
}


.presentacion{

    border-style: solid;
    border-width: 2px;
    margin: 10px;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;


}
.item{
    display: flex;
}


.nombre{
    text-align: center;
}

#contenidoMenu{
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    
}




#general{
    border: 1px solid black;
    text-align: center;
    margin: 10px;
}
.divformulari{
    border: 1px solid black;
    width:400px;
    height: 600px;
    margin: 5px;
    float: right;
    margin-right: 10px;
}

.comanda{
    border: 1px solid black;
    width:300px;
    height: 600px;
    margin: 5px;
    float:left;
    margin-left: 10px;
}

#imgComanda{
    height: 150px;
    margin: 15px;
}

.input{
    float: right;
}
.label{
    font-weight: bold;
}

#submit{
    float:right;
    margin: 2px;
    margin-top: 45px;
    width: 99%;
    height: 50px;
    background-color: #994d00;
    font-weight: bold;
}

div.comanda p{
    margin:25px;
}

div.comanda h3{
    margin:25px;
}


.confirmacion{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 30px;
}
.textoConfirmacion{
    margin-right: 10px;
    font-size: 200%;
}
.pedido{
    display: none;
}

.cantidad{
    display:none;
    padding-top: 70px;

}

.cantidad div{
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
}


div.checkItem{
    padding-top: 20px;
}

button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #994d00;
    border-radius: 6px;
    border: 2px solid black;
}

.footer{
    position:fixed ;
    bottom:5px;
    width: 96%;
    color: #ffffff;
    padding: 17px;
    background-image: url('../img/madera.jpg') ;
    text-align: center;
    margin:10px;
    margin-top:15px;
}

#footerEspecial{
    color: #ffffff;
    padding: 17px;
    background-image: url('../img/madera.jpg') ;
    text-align: center;
    margin:10px;
    margin-top:15px;
}

.link{
    color:#ffffff;
    font-size: 21px;
}